### Scala ###
*.class
*.log

# Scala-IDE specific
.scala_dependencies
.worksheet

### Intellij ###
# User-specific stuff:
.idea/

## File-based project format:
*.iws
*.iml

## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

logs/
**/target